<!-- Internal login -->
<template name="internalPage">
    {{> signIn}}
</template>

<!-- Sign in -->
<template name="signIn">
<div class="container">
<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="pull-left">GIL Internal</h3>
        <a href="/" class="btn btn-default pull-right"><span class="glyphicon glyphicon-arrow-left"></span> Back to GIL</a>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="username">Username</label>
            <!--<div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>-->
              <input type="email" class="form-control" id="username" placeholder="Username">
            <!--</div>-->
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <!--<div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-star"></span></div>-->
              <input type="password" class="form-control" id="password" placeholder="Password">
            <!--</div>-->
          </div>
          <hr>
          <button type="submit" class="btn btn-default btn-block">Log In</button>
        </form>
      </div>
  </div>
</div>
</div>


    <!--<div class="container">
      <div class="row vertical-center-row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default signin-panel">
            <div class="panel-heading">Internal</div>
            <form class="general-form">
              {{> signInAlert}}
              <input type="text" class="form-control" placeholder="Username" name="username">
              <input type="password" class="form-control" placeholder="Password" name="password">
              <button type="submit" class="btn btn-primary general-form-btn"><span class="glyphicon glyphicon-arrow-right"></span> Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>-->
</template>

<!-- Sign out -->
<template name="signOut">
  <a href="#" class="signOut">Log Out</a>
</template>

<!-- Sign in alerts -->
<template name="signInAlert">
  {{#if invalidCredits}}
    <div class="alert alert-warning" role="alert">
      <strong>Error!</strong> Invalid username or password. 
    </div>
  {{/if}}
</template>
