<!-- People page -->
<template name="peoplePage">
  {{> header}}
  {{> people}}
  {{> footer}}
</template>

<!-- People content -->
<template name="peopleTemplate">
  <div class="container">
    <div class="page-header"><h1>People</h1></div>

    {{#each members}}
      <!-- Faculty members -->
      {{#if isFaculty @index}}
        <h2>{{status}}</h2>
        <div class="row">
          {{#each member}}
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-4">
                  <img class="people" src="img/{{photo}}.jpg" alt="">
                </div>
                <div class="col-sm-8">
                  <h3 class="faculty">{{first}} {{last}}</h3>
                  <h4>{{title}}</h4>
                  <p>{{dept}}<br>
                    {{university}}<br>
                    {{bldg}}<br>
                    {{street}}<br>
                    {{city}}
                  </p>
                  <p>Tel: {{phone}}<br>
                     Email: <code>{{email}}</code><br>
                     Web: {{website}}
                  </p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      <!-- Other members -->
      {{else}}
        <hr>
        <h2>{{status}}</h2>
        <div class="row">
          {{#each member}}
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-3">
                  <img class="people" src="img/people.png" alt="">
                </div>
                <div class="col-sm-9">
                  <h4>{{first}} {{last}}</h4>
                  <p>{{research}}</p>
                  <p>Email: <code>{{email}}</code><br>Web: {{website}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</template>
