<!-- Research page -->
<template name="researchPage">
  {{> navbar}}
  {{> research}}
  {{> footer}}
</template>

<!-- Research content -->
<template name="research">
  <div class="container">
    <div class="page-header"><h1>Research</h1></div>
    <h2>Light transport simulation</h2>
    <hr>
    <h2>Monte Carlo sampling</h2>
    <hr>
    <h2>Appearance modeling</h2>
    <hr>
    <h2>Fluid simulation</h2>
    <hr>
    <h2>Artistic authoring, editing &amp; stylization</h2>
    <hr>
    <h2>Digital fabrication</h2>
    <hr>
  </div>
</template>
